/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
}
@plugin "daisyui/theme" {
  name: "light";
}
@plugin "daisyui/theme" {
  name: "dracula";
}
@plugin "daisyui/theme" {
  name: "night";
}
@plugin "daisyui/theme" {
  name: "coffee";
}
@plugin "daisyui/theme" {
  name: "synthwave";
}
@plugin "daisyui/theme" {
  name: "retro";
}
@plugin "daisyui/theme" {
  name: "dim";
}
@plugin "daisyui/theme" {
  name: "sunset";
}
@plugin "daisyui/theme" {
  name: "business";
}
@plugin "daisyui/theme" {
  name: "luxury";
}
@plugin "daisyui/theme" {
  name: "halloween";
}



.sidebar-nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
  color: oklch(var(--bc) / 0.6); 
  cursor: pointer;
  transition: all 0.15s;
  width: 100%;
  text-align: left;
}

.sidebar-nav-item:hover {
  @apply bg-primary/15 text-primary;
  & svg {
    @apply stroke-primary;
  }
}

.sidebar-nav-item.active {
/* The theme's primary colour will be with 25% transition */
  @apply bg-primary/25 text-primary;
  & svg {
    @apply stroke-primary;
  }
  font-weight: 700;
}

/* 3D Flip Utilities */
.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}