<div class="relative inline-block">
  <button (click)="toggleDropdown()"
    class="w-9 h-9 rounded-xl bg-base-content/5 hover:bg-base-content/10 border border-base-content/5 flex items-center justify-center text-base-content/60 hover:text-base-content transition-all active:scale-95 cursor-pointer">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 0 0-5.78 1.128 2.25 2.25 0 0 1-2.4 2.245 4.5 4.5 0 0 0 8.4-2.245c0-.399-.078-.78-.22-1.128Zm0 0a15.998 15.998 0 0 0 3.388-1.62m-5.043-.025a15.994 15.994 0 0 1 1.622-3.395m3.42 3.42a15.995 15.995 0 0 0 4.764-4.648l3.876-5.814a1.151 1.151 0 0 0-1.597-1.597L14.146 6.32a15.996 15.996 0 0 0-4.649 4.763m3.42 3.42a6.776 6.776 0 0 0-3.42-3.42" />
</svg>
  </button>

  <div *ngIf="isThemeDropdownOpen()"
    class="absolute right-0 mt-2 w-min origin-top-right  bg-base-200 border border-base-content/10 shadow-2xl z-50 overflow-hidden animate-in fade-in zoom-in duration-200">
    <div class="p-2 flex flex-col gap-1">


      <nav aria-label="Theme navigation">
        <div class="inline-flex rounded-base shadow-xs -space-x-px " role="group">
          <button (click)="prevTheme()" data-tooltip-target="tooltip-previous" type="button"
            class="inline-flex items-center justify-center text-body bg-neutral-secondary-medium rounded-s-base box-border border border-default-medium hover:bg-neutral-tertiary-medium cursor-pointer hover:text-heading focus:ring-3 focus:ring-neutral-tertiary leading-5 w-9 h-9 focus:outline-none">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m15 19-7-7 7-7" />
            </svg>
          </button>
          <div id="tooltip-previous" role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm leading-4 font-medium text-white transition-opacity duration-300 bg-dark rounded-base shadow-xs opacity-0 tooltip">
            Previous
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
          <button type="button"
            class="inline-flex shrink-0 text-sm items-center justify-center text-base-content bg-base-content/5 box-border border border-base-content/10 font-bold capitalize leading-5 px-3 h-9 focus:outline-none pointer-events-none w-32">
            {{ themes[currentIndex()] }}
          </button>
          <button (click)="nextTheme()" data-tooltip-target="tooltip-next" type="button"
            class="inline-flex items-center justify-center text-body bg-neutral-secondary-medium rounded-e-base box-border border border-default-medium hover:bg-neutral-tertiary-medium cursor-pointer hover:text-heading focus:ring-3 focus:ring-neutral-tertiary leading-5 w-9 h-9 focus:outline-none">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m9 5 7 7-7 7" />
            </svg>
          </button>
          <div id="tooltip-next" role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm leading-4 font-medium text-white transition-opacity duration-300 bg-dark rounded-base shadow-xs opacity-0 tooltip">
            Next
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </nav>


    </div>
  </div>
</div>